<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="vue.js"></script>

</head>

<body>
  <div id="app">
    <form>
      <div class="gender">
        <input type="radio" id="male" v-model="gender" value="male">
        <label for="male">男</label>
        <input type="radio" id="female" v-model="gender" value="female">
        <label for="female">女</label>
      </div>
      <div class="hobbies">
        <input type="checkbox" id="sing" value="sing" v-model="hobbies">
        <label for="sing">唱</label>
        <input type="checkbox" id="dance" value="dance" v-model="hobbies">
        <label for="sing">跳</label>
        <input type="checkbox" id="rap" value="rap" v-model="hobbies">
        <label for="sing">rap</label>
        <input type="checkbox" id="basketball" value="basketball" v-model="hobbies">
        <label for="sing">篮球</label>
      </div>
      <div class="job">
        <select v-model="job">
          <option value="student">学生</option>
          <option value="teacher">教师</option>
        </select>
      </div>
      <textarea v-model="text"></textarea>
      <div>
        <input type="submit" @click.prevent="submit">
      </div>
    </form>
  </div>
  <script>

    const app = new Vue({
      el: '#app',
      data: {
        msg: '',
        gender: 'male',
        hobbies: [],
        job: 'student',
        text: ''
      },
      methods: {
        submit() {
          console.log(this.gender);
          console.log(this.hobbies);
          console.log(this.job);
          console.log(this.text);
        }
      }
    })
  </script>
</body>

</html>